.background {
    padding: 8% 10%;
    gap: 8rem;
    background-color: #F7F4F3;
}

.background img {
    width: 35%;
    height: 85%;
    transform: rotate(-4deg);
}

.about-text {
    width: 60%;
}

.about-text p {
    margin-bottom: 3%;
    width: 85%;
}

.about-text .turquoise-button {
    max-width: 190px;
}

.typewriting {
    height: 50px;
}

/* JOURNEY */

.journey {
    padding: 6% 10% 0%;
    gap: 5rem;
}

.myJourney .small-title {
    padding-bottom: 2%;
}

.myJourney {
    padding-bottom: 5%;
}

/* FUNFACTS */

.funfacts {
    gap: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.funfact {
    padding: 10%;
    flex-direction: column;
    color: #032A26;
    text-align: center;
    border: 1px solid #032A26;
}

.big {
    font-size: 1.7rem;
    padding-bottom: 5%;
    font-weight: 500;
}

/* FAVORITE DESTINATION */

.favorite-destination {
    padding: 5% 10% 12%;
    gap: 1.5rem;
}

.favorite-destination .headlines {
    padding-bottom: 1rem;
}

.favDestinations {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 450px;
}

.bigNumber {
    font-size: 8rem;
    font-weight: 900;
    line-height: 1;
    display: flex;
    align-items: center;
}

.one {
    color: #ff8c00;
}

.two {
    color: #032A26;
}

.three {
    color: #4f897c;
    padding-bottom: 1rem;
}

.maldives,
.beijing {
    padding-top: 3rem;
}

/* MOBILE & IPAD */

@media (min-width: 0px) and (max-width: 1180px) {
    .background {
        flex-direction: column;
    }

    .background img {
        transform: unset;
    }

    .about-text {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-text p {
        width: 100%;
    }

    .favorite-destination .headlines {
        padding: 0;
    }

    .favDestinations {
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .maldives img {
        order: 1;
    }

    .maldives .favText {
        order: 2;
    }
}

/* MOBILE */

@media (min-width: 0px) and (max-width: 767px) {
    .background {
        gap: 2rem;
        padding: 10% 10% 15%;
    }

    .background img {
        width: 80%;
    }

    .background .turquoise-button {
        margin-top: 8%;
    }

    .about-text p {
        padding-bottom: 4%;
    }

    .journey {
        padding: 15% 10% 10%;
    }

    .myJourney {
        padding-bottom: 12%;
    }

    .myJourney .medium-title {
        padding-bottom: 5%;
    }

    .myJourney p {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .funfacts {
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .big {
        font-size: 1.2rem;
    }

    .funfact {
        font-size: .8rem;
        padding: 8% 4%;
    }

    .favorite-destination {
        padding: 7% 10% 15%;
    }

    .favDestinations {
        padding-top: 0;
        gap: .6rem;
    }

    .bigNumber {
        font-size: 3rem;
    }

    .maldives,
    .beijing {
        padding-top: 1.5rem;
    }

    .three {
        padding-bottom: .4rem;
    }
}

/* IPAD */

@media (min-width: 768px) and (max-width: 1180px) {
    .background {
        gap: 3rem;
        padding: 10%;
    }

    .background img {
        width: 50%;
    }

    .background .turquoise-button {
        margin-top: 6%;
    }

    .journey {
        padding: 10% 10% 4%;
    }

    .myJourney {
        padding-bottom: 7%;
    }

    .funfacts {
        gap: 1rem;
    }

    .big {
        font-size: 1.4rem;
    }

    .funfact {
        font-size: .8rem;
        padding: 12% 7%;
    }

    .favorite-destination {
        padding: 5% 10% 15%;
    }

    .favDestinations {
        gap: 1.5rem;
    }

    .maldives,
    .beijing {
        padding-top: 2rem;
    }

    .bigNumber {
        font-size: 6rem;
    }
}

/* DESKTOP */

@media (min-width: 1181px) and (max-width: 1440px) {
    .about-text p {
        width: 100%;
    }

    .favorite-destination {
        padding-bottom: 10%;
    }

    .favDestinations {
        height: fit-content;
    }

    .favDestinations img {
        width: 40%;
    }

    .bigNumber {
        font-size: 6rem;
    }

    .three {
        font-size: 5rem;
    }
}