.background {
    background-color: black;
}

.headline .medium-title{
    padding: 4rem 0 0 10%;
}

/* FILTER */ 

.filterSort {
    padding: 2% 10% 0%;
    align-items: center;
}

.filterBy .small-title {
    padding-bottom: 1.5rem;
}

.filter-btns {
    display: flex;
    gap: 1rem;
}

.filter-btns .border-button {
    margin-top: 0;
    max-width: 240px;
}

.filter-btns .border-button:hover,
.filter-btns .active-category {
    background-color: #087268;
    color: #FDFCFB;
    border: 1px solid #087268;
    transition: .4s;
}

.filter-button {
    display: none;
}

/* SORT BY */

.sorting {
    flex-direction: column;
    width: fit-content;
    align-self: end;
    width: 444px;
}

#sortBy {
    background-color: transparent;
    border: 1px solid #1E1A16;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    color: #352F2E;
    width: 100%;
    border-radius: 6px;
    padding: 0.7rem 1rem;
    margin-top: 1.5rem;
}

/* ALL POSTS */

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5% 10%;
    gap: 6rem 3rem;
}

.viewMore {
    padding: 1.5rem 2rem;
    max-width: 240px;
}

.viewMoreContainer {
    padding-bottom: 8%;
}

.loading-indicator,
.errorMessage {
    grid-column: 2/3;
    grid-row: 2/3;
}

.loading-indicator {
    position: relative;
}

.loader {
    left: 50%;
    top: 30%
}

@media (min-width: 768px) and (max-width: 1275px) {
    .post-grid {
        grid-template-columns: 1fr 1fr;
        padding: 8% 10%;
        gap: 4rem 1.2rem;
    }

    .post-grid.loading {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .blog-title {
        font-size: .8rem;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .post-grid {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        padding: 10%;
    }

    .post .post-details {
        grid-template-columns: 23% 78%;
        padding-bottom: 1rem;
    }

    .post .blog-title {
        padding: 1rem 0 1.4rem;
        font-size: 1rem;
    }

    .filterBy {
        width: 100%;
    }

    .filterBy .small-title {
        padding: .5rem 0 1rem;
    }

    .filter-btns {
        gap: .5rem;
    }

    .filter-btns .border-button {
        max-width: unset;
        padding: .7rem 1rem;
    }

    .sorting label {
        padding-top: 1rem;
    }

    #sortBy {
        margin-top: .8rem;
    }

    .viewMoreContainer {
        padding-bottom: 15%;
    }

    .viewMore {
        padding: 1rem;
        margin-top: 1rem;
    }
}

@media (min-width: 0px) and (max-width: 1180px) {
    .filterBy {
        display: none;
    }

    .filterSort {
        display: flex;
        align-items: end;
        gap: 1rem;
        height: 70px;
    }

    .filter-button {
        display: flex;
        align-items: center;
        padding: 1.35rem 2rem;
        height: 2.3rem;
    }

    .sorting label {
        display: none;
    }
}

@media (min-width: 1441px) and (max-width: 1600px) {

    .post .post-details {
        grid-template-columns: 15% 75%;
        padding-bottom: 1rem;
    }

    .filter-btns .border-button {
        padding: .7rem 1rem;
    }

    .post-details .small-title {
        font-size: .9rem;
    }
}

@media (min-width: 1181px) and (max-width: 1440px) {

    .sorting {
        width: 290px;
    }

    .filter-btns .border-button {
        padding: .7rem 1rem;
    }

    .post-details .small-title {
        font-size: .8rem;
    }

    .post .post-details {
        grid-template-columns: 22% 78%;
        padding-bottom: 1rem;
    }

    .post-grid {
        gap: 4rem 1.5rem;
    }
}

