.top {
    background-image: url(/IMAGES/Allposts/backgroundimg.jpg);
    background-size: cover;
    height: 400px;
    background-position: 60%;
    position: relative;
}

.archive {
    position: absolute;
}

/* FILTER */

.filterSort {
    padding: 4% 10% 0%;
    align-items: center;
    position: relative;
}

.close {
    position: relative;
}

.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
    color: #605855;
}

.filter-open {
    background-color: #EFECE8;
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;
    width: 496px;
    height: fit-content;
    padding: 6% 5% 10% 10%;
    flex-direction: column;
    gap: 1rem;
    display: none;
}

#filterBtn {
    border: none;
    background-color: transparent;
    gap: 2rem;
}

.filter-title, 
.sorting-titles {
    color: #352F2E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.filter-title {
    font-size: 1.1rem;
    padding: 8% 0% 5%;
}

.sorting-titles {
    font-size: 1rem;
}

.sorting {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 2rem;
    width: 32.5%;
}

.sorting label {
    width: 40%;
}

#sortBy {
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #352F2E;
    width: 60%;
}

option {
    font-family: 'Raleway', sans-serif;
}

.continent summary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #605855;
    padding-bottom: 4%;
}

.countries {
    padding: 2% 0%;
}

details summary {
    list-style-type: none;
    position: relative;
}

details summary::before {
    content: '\f078';
    font-family: 'Font Awesome 6 Free';
    margin-right: 1rem;
    position: absolute;
    right: 10%;
}

/* ALL POSTS */

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    padding: 3% 10% 15%;
    gap: 3rem;
}

.post {
    position: relative;
    max-width: 445px;
}
  
.post img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 440px;
}

.post:hover .border-button {
    background-color: #F6A63F;
    color: #1E1A16;
    border: 1px solid #F6A63F;
    transition: .4s;
}

.post-details {
  border-radius: 0px 0px 15px 15px;
  flex-direction: column;
  padding: 7% 0%;
  width: 100%;
  color: #352f2e;
}

.post-details .blog-title {
  font-size: 1.2rem;
  padding: 0.4rem 0rem;
  letter-spacing: 1px;
}

.headlines h2 {
  padding-top: 3%;
}

.viewMore {
    margin-top: 7%;
    grid-column: 2/3;
}.background {
    background-image: url('../IMAGES/Allposts/background.png');
    background-size: cover;
    height: 400px;
    background-position: 60%;
}

h1 {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 2rem;
    width: 25%;
}

/* FILTER */

.filterSort {
    padding: 4% 10% 0%;
    align-items: center;
    position: relative;
}

.close {
    position: relative;
}

.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
    color: #605855;
}

.filter {
    background-color: #EFECE8;
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;
    width: 496px;
    height: fit-content;
    padding: 6% 5% 10% 10%;
    flex-direction: column;
    gap: 1rem;
    display: none;
}

#filterBtn {
    border: none;
    background-color: transparent;
    gap: 2rem;
}

.filter-title, 
.sorting-titles {
    color: #352F2E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.filter-title {
    font-size: 1.1rem;
    padding: 8% 0% 5%;
}

.sorting-titles {
    font-size: 1rem;
}

.sorting {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 2rem;
    width: 32.5%;
}

.sorting label {
    width: 40%;
}

#sortBy {
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #352F2E;
    width: 60%;
}

option {
    font-family: 'Raleway', sans-serif;
}

.continent summary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #605855;
    padding-bottom: 4%;
}

.countries {
    padding: 2% 0%;
}

details summary {
    list-style-type: none;
    position: relative;
}

details summary::before {
    content: '\f078';
    font-family: 'Font Awesome 6 Free';
    margin-right: 1rem;
    position: absolute;
    right: 10%;
}

/* ALL POSTS */

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    padding: 3% 10% 15%;
    gap: 3rem;
}

.post {
    position: relative;
    max-width: 445px;
}
  
.post img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 440px;
}

.post:hover .border-button {
    background-color: #F6A63F;
    color: #1E1A16;
    border: 1px solid #F6A63F;
    transition: .4s;
}

.post-details {
  border-radius: 0px 0px 15px 15px;
  flex-direction: column;
  padding: 7% 0%;
  width: 100%;
  color: #352f2e;
}

.post-details .blog-title {
  font-size: 1.2rem;
  padding: 0.4rem 0rem;
  letter-spacing: 1px;
}

.headlines h2 {
  padding-top: 3%;
}

.viewMore {
    margin-top: 7%;
    grid-column: 2/3;
}