.img-1 {
    margin: .5rem 0rem 2.5rem;
}

.image-grid,
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-grid {
    grid-template-rows: 340px 300px;
    gap: 1.2rem;
    padding: 2.2rem 0rem;
}

.firstImg {
    grid-column: 1/3;
}

.bottom-text {
    padding-bottom: 2.5rem;
}

.moreInfo {
    background-color: #F7F4F3;
    padding: 5% 10%;
}

.info-grid {
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem 4rem;
    padding: 2rem 0rem;
    width: 75%;
}

.info-title {
    display: flex;
    gap: 1rem;
    padding-bottom: .6rem;
}

.info-title h4 {
    font-weight: 500;
}

.moreInfo .medium-title {
    padding: .6rem 0 .8rem;
}

#ageLimit {
    text-transform: uppercase;
}

.priceAge {
    gap: 2rem;
}

#paragraph3 {
    padding-bottom: 2rem;
}

.explore-content .blog-title {
    font-size: 1.2rem;
    padding: .4rem 0 1rem;
}

@media (min-width: 0) and (max-width: 1180px) {
    .bottom-text {
        padding-bottom: 0;
    }

    .moreInfo .info-grid {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .image-grid {
        grid-template-rows: 240px 140px;
        gap: .5rem;
        padding: 1.5rem 0rem;
    }

    .img-1 {
        margin: 1rem 0 1.8rem;
    }

    .moreInfo {
        padding: 3rem 10%;
    }

    .info-grid {
        padding: 1rem 0 0;
        gap: 1.5rem;
    }

    .priceAge {
        gap: 1rem;
    }

    h4 {
        font-size: .7rem;
    }
}

@media (min-width: 768px) and (max-width: 1180px) {
    .moreInfo {
        padding: 8% 0;
    }

    .moreInfo .small-title,
    .moreInfo .medium-title {
        padding-left: 10%;
    }

    .info-grid {
        width: 100%;
        padding: 4% 10%;
        gap: 1.8rem 0;
    }

    .priceAge {
        gap: 1.2rem;
    }
}

@media (min-width: 1181px) and (max-width: 1440px) {

    .moreInfo {
        padding: 6% 10% 5%;
    }
    .info-grid {
        gap: 2rem;
        width: 90%;
        padding-bottom: 0;
    }
}