/* LATEST POSTS */

.all-latest-posts {
  display: flex;
  width: 400%;
  transition: 1s all;
}

.week-2 {
  transform: translateX(50%);
}

.week-3 {
  transform: translateX(100%);
}

.week-4 {
  transform: translateX(150%);
}

.latest {
  padding: 6% 10% 8%;
  overflow: hidden;
  width: 100%;
}

.allCathegories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 490px;
  gap: 0rem 3rem;
}

.latestPosts {
  padding-top: 1%;
  display: flex;
  width: 100%;
  gap: 3rem;
  height: fit-content;
}

.post {
  position: relative;
  max-width: 445px;
}

.post img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 440px;
}

.destination:hover .border-button,
.post:hover .border-button {
    background-color: #F6A63F;
    color: #1E1A16;
    border: 1px solid #F6A63F;
    transition: .4s;
}

.post-details {
  border-radius: 0px 0px 15px 15px;
  flex-direction: column;
  padding: 7% 0%;
  width: 100%;
  bottom: 0;
  color: #352f2e;
}

.post-details .blog-title {
  font-size: 1.2rem;
  padding: 0.4rem 0rem;
  text-align: center;
}

.headlines h2 {
  padding-top: 3%;
}

.cathegorize:hover {
  transform: translateY(-7px);
  transition: 0.5s;
}

.arrows {
  gap: 2rem;
}

.arrow-selection {
  padding-top: 3%;
}

.arrows .arrow-left,
.arrows .arrow-right {
  background-color: #f7f4f3;
}

.arrows p.mobile-prev,
.arrows p.mobile-next {
  display: none;
}

.newer {
  visibility: hidden;
}

/* ABOUT */ 

.about {
  height: fit-content;
  padding: 8% 10%;
  background-color: #F7F4F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.about figure {
  height: 580px;
  width: 35%;
  transform: rotate(-3deg);
  padding-left: 2%;
}

.about-text .small-title {
  width: fit-content;
}

figure img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.about-text {
  width: 60%;
  padding-left: 5%;
}

.about-text p {
  width: 80%;
  line-height: 1.8;
}

.typewriting {
  height: 60px;
  padding-top: 1.5%;
  padding-bottom: 0;
}

/* DESTINATIONS */

.featured-destination {
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
}

.featured-destination .post-details .blog-title {
  text-align: unset;
}

.destinations {
  padding: 8% 10% 9%; 
}

.destination-text {
  width: 70%;
  padding-top: 2%;
}

.destination .small-title {
font-size: .87rem;
}

.destination .post-details {
  padding: 9% 0%;
}

.destination img {
  height: 400px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* CATHEGORIES */

.cathegories {
  padding: 6% 10% 0%;
  background-color: #F7F4F3;
}

.allCathegories {
  grid-template-rows: 410px;
  padding-top: 3%;
  padding-bottom: 10%;
}

.cathegories .viewAll {
  width: 140px;
}

.cathegorize {
  position: relative;
}

.cathegorize img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.light-button {
  position: absolute;
}

@media (min-width: 0px) and (max-width: 767px) {
.latest {
  padding: 56px 36px;
}

.latest .post-details {
  padding-bottom: 0;
}

.latestPosts.week-1 .post:not(:first-child),
.latestPosts.week-2 .post:nth-child(1),
.latestPosts.week-2 .post:nth-child(3),
.latestPosts.week-3 .post:nth-child(1),
.latestPosts.week-3 .post:nth-child(2),
.latestPosts.week-4 .post:nth-child(3),
.latestPosts.week-4 .post:nth-child(2) {
  display: none;
}

.latest .headlines .small-title {
  font-size: 14px;
}

.week {
  font-size: 18px;
}

.latestPosts {
  flex-direction: column;
  gap: 1.5rem;
}

.post img {
  height: 300px;
}

.all-latest-posts .latestPosts.week-1 {
  padding-top: 26px;
}

.arrows {
  gap: 12px;
}

.arrows p {
  font-size: 12px;
}

.arrows p.desktop-prev,
.arrows p.desktop-next {
  display: none;
}

.arrows p.mobile-prev,
.arrows p.mobile-next {
  display: flex;
}

.post-details .blog-title {
  font-size: 16px;
}

.cathegory {
  font-size: 12px;
}

.post-details .date {
  color: rgba(53, 47, 46, 0.61);
  font-size: 12px;
}

.latestPosts .post,
.latest .headlines,
.latest .arrow-selection {
  max-width: 400px;
  margin: 0 auto;
}

.latestPosts {
  align-items: center;
  height: fit-content;
}

.about {
  flex-direction: column;
  padding: 66px 36px;
}

.about figure {
  height: auto;
  transform: none;
  margin-bottom: 34px;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.arrow-selection {
  padding-top: 36px;
}

.small-title,
.destination-text {
  font-size: 14px;
}

.headlines h2 {
  font-size: 18px;
}

.about-text a.turquoise-button {
  padding: 11px 24px;
  margin-top: 20px;
}

.about-text {
  width: 100%;
  max-width: 400px;
  padding-left: 0;
}

.about-text p {
  width: 100%;
  margin-bottom: 7%;
}

.about-text h2 {
  font-size: 18px;
}

.typewriting {
  height: 50px;
}

.cathegories {
  padding: 70px 36px;
}

.allCathegories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.allCathegories a.cathegorize {
  margin: 0 auto;
  width: 100%;
}

.allCathegories a.cathegorize img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.cathegories .headlines {
  padding-bottom: 18px;
  max-width: 400px;
  margin: 0 auto;
}

.destinations {
  padding: 15% 10%;
}

.destinations .headlines {
  padding-bottom: 5%;
}

.destination-text {
  width: 100%;
}

.destination img {
  height: 300px;
}

.destination .post-details {
  display: flex;
  flex-direction: column;
}

.featured-destination {
  display: flex;
  flex-direction: column;
  padding: 10% 0% 0%;
  gap: 1.5rem;
}
}

@media (min-width: 768px) and (max-width: 1080px) {
  .cathegories .cathegorize img {
    max-height: 250px;
  }

  .cathegories .cathegorize button {
    font-size: 14px;
    padding: 0.7rem 1.5rem;
  }

  .latest .post img {
    max-height: 250px;
  }
}