/* BACKGROUND + TEXT */
  
.hero-section {
    background-image: url(/IMAGES/Frontpage/background.jpg);
    height: 900px;
    width: 100%;
    position: relative;
  }
    
  .hero-text,
  .hero-images {
    position: absolute;
  }
    
  .hero-text {
    width: 29%;
    left: 10%;
    top: 30%;
  }
    
  .hero-text,
  .hero-text p {
    color: #fdfcfb;
  }
  
  .hero-text .turquoise-button {
    margin-top: 6%;
  }
    
  .hero-images {
    width: 50%;
    right: 0;
    top: 24%;
    overflow: hidden;
  }
  
  .hero-images .arrow-left:hover,
  .hero-images .arrow-right:hover {
    transition: .4s;
  }
    
  .all-images {
    position: relative;
    width: 340px;
    height: 430px;
  }
    
  .hero-text,
  .hero-images {
    position: absolute;
  }
  
  .location {
    display: flex;
    gap: 1rem;
  }
    
  .hero-image {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in;
  }
    
  .img-1 {
    transform: translateX(0);
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
    
  .img-2 {
    transform: translateX(120%);
    width: 90%;
    height: 90%;
    margin-top: 5%;
  }
    
  .img-3 {
    transform: translateX(255%);
    width: 80%;
    height: 80%;
    margin-top: 10%;
  }
  
  .img-4,
  .img-5,
  .img-6 {
    transform: translateX(440%);
    width: 70%;
    height: 70%;
    margin-top: 15%;
  }
  
  .img-6 {
    opacity: 0;
  }
  
  .img-7 {
    transform: translateX(-110%);
    opacity: 0;
    width: 90%;
    height: 90%;
    margin-top: 5%;
  }
  
  .arrow-buttons {
    width: 130px;
    padding-top: 5%;
  }
  
  .hero-banner--mobile {
    display: none;
  }
  
  
  @media (min-width: 0) and (max-width:767px) {
    .hero-banner--mobile,
    .hero-banner--mobile img {
      display: block;
      width: 100%;
      height: auto;
    }
  
    .hero-section {
      background-image: none;
      background-color: #F7F4F3;
      width: 100%;
      height: fit-content;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  
    .hero-text {
      width: fit-content;
      position: static;
      padding: 60px 36px;
    }
  
    .hero-text h1,
    .hero-text p {
      color: #312A28
    }
  
    .hero-text h1 {
      font-size: 1.5rem;
    }
  
    .hero-text p {
      font-size: 14px;
      font-weight: 500;
    }
  
    .hero-text .location {
      font-size: 14px;
    }
  
    .hero-images {
      display: none;
    }
  
    .hero-text button {
      padding: 11px 16px;
      font-size: 12px;
    }
  }
  
  @media (min-width: 768px) and (max-width:1080px) {
  
  }
  
  @media (min-width: 1080px) and (max-width:1440px) {
  
  }