/* POSTS */

.post {
  position: relative;
  height: 100%;
}

.post img {
  height: 340px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.post-details {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-row: 1fr 1fr;
  align-items: center;
  padding-bottom: 1.3rem;
}

.day, .date, .blog-title {
  font-family: 'Montserrat', sans-serif;
  color: #1e1a16;
}

.blog-title {
  font-size: 1.3rem;
  padding: 1rem 0 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.day {
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 2.2rem;
  font-weight: 200;
}

.date {
  text-transform: uppercase;
  font-weight: 400;
}

.post:hover .border-button {
  background-color: #f6a63f;
  color: #1e1a16;
  border: 1px solid #f6a63f;
  transition: 0.4s;
}

@media (min-width: 0px) and (max-width: 767px) {
  
  .post img {
    height: 260px;
  }

  .post-details {
    padding-bottom: 1.4rem;
  }

  .blog-title {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .post-details {
    grid-template-columns: 20% 80%;
  }

  .day {
    font-size: 1.8rem;
  }

  .date {
    font-size: 1rem;
  }

  .post {
    height: 600px;
  }

  .post-details .small-title {
    font-size: .9rem;
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .post img {
    height: 270px;
  }

  .day {
    font-size: 1.4rem;
  }

  .date {
    font-size: .9rem;
  }

  .post-details .small-title {
    font-size: .8rem;
  }

  .blog-title {
    font-size: 1rem;
  }
}

@media (min-width: 1181px) and (max-width: 1400px) {
  .post img {
    height: 300px;
  }
}