html {
    font-size: 18px;
    color: #233F3F;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: #1E1A16;
    background-color: #e6e2e0;
}

/* FONTS, HEADLINES & SUBTITLES */

p {
    color: #1E1A16;
    line-height: 1.5;
}

p, h1, h2, h3, h4, a, figure {
    margin: 0;
}

h1, h2, h3, h4, .date, .view-all, a, button {
    font-family: 'Montserrat', sans-serif;
}

.yellow {
    color: #FFA53A;
}

.turquoise {
    color: #087268;
}

.big-title, .medium-title, .small-title, button, a, .bold, .underline {
    font-weight: 500;
}

.big-title {
    font-size: 2.8rem;
}

.medium-title {
    font-size: 1.4rem;
    padding: .6rem 0;
}

.small-title {
    font-size: 1rem;
    text-transform: uppercase;
}

button,
.turquoise-button {
    font-size: .9rem;
}

.underline {
    border-bottom: 1px solid #1E1A16;
    color: #1E1A16;
} 

.underline:hover {
    border-bottom: 1px solid #087268;
    color: #087268;
    transition: .5s;
}

/* BUTTONS */

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    max-width: 180px;
}

.button {
    border: none;
    background-color: #F6A63F;
    color: #1E1A16;
    margin-top: 2rem;
}

.button,
.turquoise-button,
.border-button {
    max-width: 190px;
    padding: 0.7rem 2rem;
    border-radius: 5px;
}

.border-button {
    background-color: transparent;
    border: 1px solid #1E1A16;
    color: #1E1A16;
    margin-top: 1.3rem;
}

.turquoise-button {
    color: #FDFCFB;
    background-color: #087268;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    border: none;
    margin-top: 1.6rem;
}

.turquoise-button:hover,
.button:hover {
    transform: scale(1.1);
    transition: .3s;
}

.viewAll {
    padding-bottom: 0.3rem;
    border-bottom: 3px solid #F6A63F;
    width: 80px;
}

.view-all:hover {
    font-weight: 600;
}

.view-all {
    color: #1E1A16;
    font-weight: 400;
    font-size: 1.1rem;
}

.arrow-left,
.arrow-right {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  font-size: 1.1rem;
}

.arrows p {
    cursor: pointer;
}

/* DISPLAYS */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* CONTAINERS */

.wrapper {
    margin: 0 auto;
    max-width: 1800px;
    position: relative;
    top: 6.5rem;
    background-color: #FDFCFB;
}

/* MEASUREMENTS */

.size {
    height: 100%;
    width: 100%
}

/* IMAGES */

img {
    object-fit: cover;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
}

.rounded {
    border-radius: 15px;
}

/* LINE */

.line {
    height: 1px;
    background-color: #1E1A16;
    width: 80%;
    margin: 20% 0%;
}

/* E-BOOK */ 

.eBook {
    padding: 5% 25% 4%;
    background-color: #8ab4a9;
    color: #1E1A16;
    text-align: center;
}

.eBook p {
    color: #1E1A16;
    font-size: 1.1rem;
}

.signUp {
    flex-direction: column;
}

.signUpBtn {
    margin-top: 1rem;
}

.email {
    padding-top: 3%;
    width: 60%;
}

.email input {
    width: 100%;
    padding-left: 5%;
}

.email-error {
    display: none;
    padding-top: .7rem;
}

/* INSTAGRAM-POSTS */

.instagram-posts {
    display: grid;
}

.insta-img {
    position: relative;
}

/* FORMS */

input,
textarea {
    border-radius: 6px;
    height: 2.3rem;
    border: none;
}

input::placeholder,
textarea {
    color: #1E1A16;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 0) and (max-width: 767px) {
    .wrapper {
        top: 4.4rem;
    }

    .viewAll,
    .cathegories .viewAll {
        width: 60px;
    }

    .viewAll a.view-all {
        font-size: .8rem;
    }

    p {
        font-size: .8rem;
    }

    .turquoise-button,
    .border-button {
        font-size: .8rem;
        max-width: 150px;
    }

    .big-title {
        font-size: 2rem;
    }

    .medium-title {
        font-size: 1rem;
    }

    .border-button {
        padding: 0.5rem 1.5rem;
    }

    .small-title,
    .bold,
    input::placeholder,
    textarea {
        font-size: .85rem;
    }

    .turquoise-button {
        margin-top: .5rem;
        padding: .7rem .5rem;
    }

    .rounded {
        border-radius: 12px;
    }

    .eBook {
        padding: 5% 10%;
    }

    .eBook .email {
        width: 100%;
    }

    .arrow-left,
    .arrow-right {
        height: 35px;
        width: 35px;
        font-size: .9rem;
    }

    .eBook {
        padding: 12% 10%;
    }
    
    .eBook p,
    .email-error {
        font-size: .9rem;
    }

    .email-error {
        padding-top: .5rem;
    }
    
    .signUp p {
        padding-bottom: .7rem;
    }
    
    .signUp {
        padding: 0;
    }
    
    .signUpBtn {
        margin-top: 1rem;
        padding: .5rem 1rem;
        font-size: .8rem;
    }
}

@media (min-width: 768px) and (max-width: 1180px) {

    .wrapper {
        top: 4.5rem;
    }

    .big-title {
        font-size: 2.5rem;
    }

    .medium-title {
        font-size: 1.2rem;
    }

    .blog-title,
    .small-title {
        font-size: .95rem;
    }

    input {
        height: 2.2rem;
    }
}

@media (min-width: 0) and (max-width: 968px) {
    .right-side.flex-column {
        display: none;
    }
}